<div style="max-width: 800px; padding: 30px 15px; margin: 0px auto; font-size: 16px; line-height: 26px;">


    <p style="font-size: 19px;">
    <i>
        Prezado Jogador,  
    </i>
    </p>

   <p>

    Em observância à Instrução Normativa SPA/MF nº 22/2025, informamos que, em consulta realizada ao Sistema de Gestão de Apostas – SIGAP, foi constatado que Você é beneficiário de programa social do Governo Federal, constando em lista restritiva de acesso aos serviços relacionados ao setor de apostas de quota fixa. 
   </p>

    <p>

   Nos termos da regulamentação vigente, caso existam apostas em aberto, informamos que, conforme o art. 9º da referida Instrução Normativa, essas apostas serão canceladas, e a devolução integral dos valores correspondentes será realizada na forma prevista no art. 8º da mesma norma. 
    </p>

   <p>
    Informamos que sua conta na Plataforma será definitivamente bloqueada para acesso em 3 (três) dias do envio desta comunicação. Durante esse período, Você poderá efetuar a retirada voluntária dos valores. 
    
    </p>


    <p>

        Após esse prazo, caso o saque não seja realizado, a Plataforma procederá à devolução automática dos recursos para conta bancária de mesma titularidade cadastrada no sistema. 
    </p>

     <p>

        Se a devolução não for possível (como, por exemplo, por conta inativa, erro bancário, falta de indicação de conta válida ou qualquer dificuldade operacional), a Plataforma manterá o registro contábil dos valores e tentará novo contato. Após 180 (cento e oitenta) dias, os recursos não devolvidos serão revertidos ao FIES e ao FUNCAP, nos termos do § 2º do art. 8º da Instrução Normativa. 
    </p>


    <p style="font-size: 19px;">
        <i>Atenciosamente,</i>
    </p>

    <img src="https://f12.bet.br/uploads/files/luva-logo-roxo-4-png-692a0d0417239.png"  width="160px"/>






</div>